<!-- Template Driven Form -->
<!-- <form #homeform="ngForm" (ngSubmit)="onSubmit(homeform)">
    <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput type="text" name="input" ngModel required="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput type="email" name="email" ngModel required email>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select name="select" ngModel>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!homeform.valid">submit</button>
</form> -->

<!-- REACTIVE FORM -->

<form [formGroup]="homeform" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>nome</mat-label>
        <input matInput type="name" name="nome" formControlName="nome">
    </mat-form-field>
    <p *ngIf="!homeform.get('nome')?.valid && homeform.get('nome')?.touched">inserisci nome</p>
    <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput type="email" name="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select Color</mat-label>
        <mat-select name="select" formControlName="colore">
            <mat-option value="red">Red</mat-option>
            <mat-option value="blue">blue</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!homeform.valid">submit</button>
</form>

<!-- MODULO HTTP -->

<!-- <form [formGroup]="homeform" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>nome</mat-label>
        <input matInput type="name" name="name" formControlName="nome">
    </mat-form-field>
    <p *ngIf="!homeform.get('nome')?.valid && homeform.get('nome')?.touched">inserisci nome</p>
    <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput type="email" name="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select Color</mat-label>
        <mat-select name="select" formControlName="colore">
            <mat-option value="red">Red</mat-option>
            <mat-option value="blue">blue</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!homeform.valid">submit</button>
</form> -->