$background-color: #202324;
$text-color-booklist: #007bff;
$text-color-booklist-a: #048573;
$grid-item-background-color: #2b2f31;
$search-bar-background-color: #3b3b3b;

body {
    background-color: $background-color;
}

mat-selection-list {
    margin-bottom: 1rem;

    mat-list-option {
        max-height: 40px;
        max-width: 100%;
        padding: 8px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: $text-color-booklist-a;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        .pseudo-checkbox:not(.mat-checkbox-checked) .pseudo-checkbox-inner {
            background-color: greenyellow;
        }
    }
}


/* Styling for the grid container */
.grid-container {
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 16px;
}

/* Styling for the grid items */
.grid-item {
    background-color: $grid-item-background-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    // add any other styles here
  }
  
mat-label {
    margin-right: 8px;
}

.search-bar button {
    margin-left: 8px;
    background-color: #007bff;
}

input[name="search"] {
    background-color: $search-bar-background-color;
    color: #f0f0f0;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}
