
<div class="search-bar">

  <input matInput type="name" name="search" [(ngModel)]="titleToSearch" (keydown)="onClick()">
  <button mat-raised-button color="primary" type="submit" (click)="onClick()">
    <mat-icon style="align-self: center; margin-right: 0px; padding-right: 0px;">search</mat-icon>
  </button>
</div>

<div class="grid-container">

  <div class="grid-item">
    <mat-selection-list [(ngModel)]="selectedBooks" >
      <mat-list-option *ngFor="let book of bookList" [value]="book" (selectedChange)="(updateTotalPrice(book, $event))">
        <a routerLink="{{ book.id }}">{{ book.title }}</a> - {{ book.id }} - {{ book.rating }}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="grid-item"><router-outlet></router-outlet></div>

  <div class="grid-item" *ngIf="showThirdColumn">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>

<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
</mat-drawer-container>

<div class="example-sidenav-content">
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>
</div> -->
